<!DOCTYPE html>
<html>

<head>
	<title>Infusic</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script src="/js/bootstrap.js"></script>

		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.css" rel="stylesheet">
		<link href="/css/styling.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<ul id="top">
	  <li id="home"><h4 id="homeText">Infusic</h4></li>
	  <li id="topRight"><a class="top" href="#...">...</a></li>
	</ul>

	<div class="icon-bar">
	  <a href="indexBack"><i class="fa fa-home"></i></a> 
	  <a href="placeHolder"><i class="fa fa-search"></i></a> 
	  <a class="active" href="#"><i class="fa fa-music"></i></a> 
	</div>

	<div style="padding:20px;margin-top:30px;background-color:#f3f3f3;height:1500px;">

    <h3>Recently Played</h3>

    <div class="card">
      	<div class="row">
	      	<div class="column">
		      	<div ><a href="placeHolder"><button id="roundButt"></button></a><p><b>Playlist Name #1</b></p></div>
		      	<p># of songs, 120 min</p>
		      	<br>
	        </div>

	      	<div class="column">
		      	<div ><a href="placeHolder"><button id="roundButt"></button></a><p><b>Playlist Name #1</b></p></div>
		      	<p># of songs, 120 min</p>
		      	<br>
	      	</div>

	      	<div class="column">
		      	<div ><a href="placeHolder"><button id="roundButt"></button></a><p><b>Playlist Name #1</b></p></div>
		      	<p># of songs, 120 min</p>
		      	<br>
	      	</div>
     	</div>
    </div>

    <h3>Recommendations</h3>
       <div class="card">
      	<div class="row">
	      	<div class="column">
		      	<div ><a href="placeHolder"><button id="roundButt"></button></a><p><b>Song Name</b></p></div>
		      	<p>Artist</p>
		      	<br>
	        </div>

	      	<div class="column">
		      	<div ><a href="placeHolder"><button id="roundButt"></button></a><p><b>Song Name</b></p></div>
		      	<p>Artist</p>
		      	<br>
	      	</div>

	      	<div class="column">
		      	<div ><a href="placeHolder"><button id="roundButt"></button></a><p><b>Song Name</b></p></div>
		      	<p>Artist</p>
		      	<br>
	      	</div>
     	</div>
    </div>

<!--
		<p>Some text some text some text some text..</p>
		<p>Some text some text some text some text..</p>
		<p>Some text some text some text some text..</p>
		<p>Some text some text some text some text..</p>

		</div>
-->
</body>

</html>