<!DOCTYPE html>
<html>

<head>
	<title>Infusic</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script src="/js/bootstrap.js"></script>

		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.css" rel="stylesheet">
		<link href="/css/styling.css" rel="stylesheet">
</head>

<body>

	<ul id="top">
	  <li id="home"><h4 id="homeText">Home</h4></li>
	  <li id="topRight"><a class="top" href="#...">...</a></li>
	</ul>

	<ul id="bottom">
	  <li><a href="#home">Home</a></li>
	</ul>

	<div style="padding:20px;margin-top:30px;background-color:#f3f3f3;height:1500px;">

	<h1>Infusic</h1>
	<h2>Scroll this page to see the effect</h2>
	<h2>The navigation bar will stay at the top of the page while scrolling</h2>

	<div class="row">
	  <div class="column">
	    <h2><button class="button button1">Spotify</button></h2>
	  </div>
	  <div class="column">
	    <h2><button class="button button2">Apple Music</button></h2>
	  </div>
	  <div class="column">
	    <h2><button class="button button3">Pandora</button></h2>
	  </div>
	</div>



	<p>Some text some text some text some text..</p>
	<p>Some text some text some text some text..</p>
	<p>Some text some text some text some text..</p>
	<p>Some text some text some text some text..</p>

	</div>

</body>

</html>
