<!DOCTYPE html>
<html>

<head>
	<title>Infusic</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script src="/js/bootstrap.js"></script>

		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.css" rel="stylesheet">
		<link href="/css/styling.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<ul id="top">
	  <li id="home"><h4 id="homeText">Infusic</h4></li>
	  <li id="topRight"><a class="top" href="#...">...</a></li>
	</ul>

	<div class="icon-bar">
	  <a class="active" href="indexBack"><i class="fa fa-home"></i></a> 
	  <a href="placeHolder"><i class="fa fa-search"></i></a> 
	  <a href="browse"><i class="fa fa-music"></i></a> 
	</div>

	<div style="padding:20px;margin-top:30px;background-color:#f3f3f3;height:1500px;">

	<div class="row">
	  <div class="column">
	    <h2><button class="button button1">Spotify</button></h2>
	  </div>
	  <div class="column">
	    <h2><button class="button button2">Apple Music</button></h2>
	  </div>
	  <div class="column">
	    <h2><button class="button button3">Pandora</button></h2>
	  </div>
	</div>



      <h3>Playlists</h3>
      <div class="card">

      	<div class="fakeimg">
      		<a href="placeHolder"><button id="roundButt"></button></a><p><b>Playlist Name #1</b></p>
      	</div>
      	<p># of songs, 120 min</p>
      	<br>

      	<div class="fakeimg">
      		<a href="placeHolder"><button id="roundButt"></button></a><p><b>Playlist Name #1</b></p>
      	</div>
      	<p># of songs, 120 min</p>
      	<br>

      	<div class="fakeimg">
      		<a href="placeHolder"><button id="roundButt"></button></a><p><b>Playlist Name #1</b></p>
      	</div>
      	<p># of songs, 120 min</p>
      	<br>

      	<div class="fakeimg">
      		<a href="placeHolder"><button id="roundButt"></button></a><p><b>Playlist Name #1</b></p>
      	</div>
      	<p># of songs, 120 min</p>
      	<br>

      	<div class="fakeimg">
      		<a href="placeHolder"><button id="roundButt"></button></a><p><b>Playlist Name #1</b></p>
      	</div>
      	<p># of songs, 120 min</p>
      	<br>
      	
      </div>
</body>

</html>
