<!DOCTYPE html>
<html>
<head>
    <title>Infusic - Login</title>
    <meta name="viewport" content="width=800">
    <link href="/css/login_styling.css" rel="stylesheet">
</head>

<body>

<form action="index">
  <div class="imgcontainer">
    <img src="/icons/infusic.png" id="icon" width=150px>
  </div>

<center>
  <div class="container" id="loginStuff">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username"" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" required>
    <a href="index">
        <button type="submit">Login</button>
    </a>
        <div class="facebook">
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
        </div>
</center>
    
  </div>
  
</form>
{{> facebook}}
<script src="/js/facebook.js"></script>
</body>
</html>