<html>

	<head>
		<title>Party Mode</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">

			<script src="/js/bootstrap.js"></script>

			<link href="/css/bootstrap.css" rel="stylesheet">
			<link href="/css/bootstrap-theme.css" rel="stylesheet">
			<link href="/css/styling.css" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body>
		<!--
		<div id="partyTop">
	  		<li id="home"><h4 id="homeText">Party Mode</h4></li>
	  		<li id="topRight"><a class="top" href="#...">...</a></li>
		</div>
		-->
		<!-- div used to add padding between top of page and profile pic -->
		<div id="whitespace"></div>
		<!-- div used to add padding between top of page and profile pic -->
		<div id="whitespace"></div>
		<!-- div used to add padding between top of page and profile pic -->
		<div id="whitespace"></div>

		<!-- buttons for send request, request queue-->
		<div class="buttons">
			<center>
			<div class="container">
				<div class="buttonChild">
					<a button class="partyButton button1" id="sendRequest" href="sendRequest">Send Request</button></a>
					<a button class="partyButton button2" id="requestQueue" href="requestQueue">Request Queue</button></a>
				</div>
			</div>
			</center>
		</div>

	</body>

	<div class="navbar">
	  <a href="/"><i class="fa fa-home"></i></a> 
	  <a href="browse"><i class="fa fa-search"></i></a>
	  <a class="active" href="partyMode"><i class="fa fa-users"></i></a>
	  <a href="profile"><i class="fa fa-user"></i></a>
	</div>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
</html>