<html>

	<head>
		<title>Profile</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">

			<script src="/js/bootstrap.js"></script>

			<link href="/css/bootstrap.css" rel="stylesheet">
			<link href="/css/bootstrap-theme.css" rel="stylesheet">
			<link href="/css/styling.css" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body>
		<center>
			<!-- div used to add padding between top of page and profile pic -->
			<div id="whitespace"></div>

			<img class="fakeProf" src="/fakeProfile.png" alt="Profile Photo">
			<h1>USERNAME</h1>

			<!-- div used to add padding between top of page and profile pic -->
			<div id="whitespace"></div>		

			<div id="filters">
			<button class="buttonProf" id="spotify">
    			<img id="spotifypic" src="http://www.volta-volta.com/wp-content/uploads/2016/03/spotify-logo_318-27558.jpg"/></button>
      		<button class="buttonProf" id="apple">
        		<img id="applepic2" src="http://moziru.com/images/apple-inc-clipart-apple-symbol-6.png"></button>
    		<button class="buttonProf" id="tidal">
        		<img id="tidalpic" src="https://assets.materialup.com/uploads/f70199e4-111f-4b0e-8643-62f48a767513/teaser.png"></button>
        	</div>

        	<a button class="logoutButton" href="login">Sign Out</button></a>

		</center>

	</body>

	<div class="navbar">
		<a href="/"><i class="fa fa-home"></i></a> 
		<a href="browse"><i class="fa fa-search"></i></a>
		<a href="partyMode"><i class="fa fa-users"></i></a>
		<a class="active" href="profile"><i class="fa fa-user"></i></a>
	</div>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
</html>