<html>
	<head>
		<title>Request Queue</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

			<script src="/js/bootstrap.js"></script>

			<link href="/css/bootstrap.css" rel="stylesheet">
			<link href="/css/bootstrap-theme.css" rel="stylesheet">
			<link href="/css/requestQueue_styling.css" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body>
		<center>
		<h1 id="emptyQueue">Queue is Empty</h1>
		</center>

		{{#each songNames}}
			<center>
			<div class="songName" id="{{id}}">
				<div id="songBar">
					<b id="s">{{song}}</b>
					<p id="a">{{artist}}</p>
					<script>
						console.log("work1");
						var content = document.getElementById("s");
						console.log("work2");
						var content2 = document.getElementById("a");

						//var eq = document.getElementById("emptyQueue");
						//eq.style.display="none";

						console.log("work3");
						content.style.display="none";
						console.log("work4");
						content2.style.display="none";
						console.log("work5");
						setTimeout(function(){
							console.log("work6");
							content.style.display="block";
							console.log("work7");
							content2.style.display="block";
							console.log("work8");
						}, 3000);
						console.log("work9");
					</script>
				</div>
			</div>
			</center>
		{{/each}}

		<script>
			setTimeout(function() {
				var eq = document.getElementById("emptyQueue");
				eq.style.display="none";
			}, 3000);
		</script>


<!--		<script>startQueue();</script> -->

	</body>

	<div class="navbar">
		<a href="/"><i class="fa fa-home"></i></a> 
		<a href="browse"><i class="fa fa-search"></i></a>
		<a class="active" href="partyMode"><i class="fa fa-users"></i></a>
		<a href="profile"><i class="fa fa-user"></i></a>
	</div>
 

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
</html>