<!DOCTYPE html>
<html>

<head>
	<title>Infusic</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/songspage.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="container">
<button onclick="goBack()">Go Back</button>
<script>
	function goBack() {
		window.history.back();
	}
</script>


{{#each albums}}
<center>
<div id="{{id}}">
      <img id="pic" src="{{image}}" width=200px height=200px>
      </div>
      <div>
      </div>
{{/each}}

<div>
<audio id="biscuit" preload="auto" tabindex="0" controls="" type="audio/mpeg">
        <source type="audio/mp3" src="/songs/biscuit.mp3">
    </audio>
    	<ul id="playlist">
        <li class="active"><a>01 Boogie</a></li>
        <li>02 Zipper</li>
        <li>03 Johnny</a></li>
        
    </ul>
 </div>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>

</body>
</html>