<!DOCTYPE html>
<html>

<head>
	<title>Infusic</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/songspage.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="container">
<button onclick="goBack()" id="back">Go Back</button>


{{#each albums}}
<center>
<div id="{{id}}">
      <div>
      <h4>{{album}}</h4>
      <p1>{{artist}}</p1>
      </div>
      <img id="pic" src="{{image}}" width=200px height=200px>
      </div>
{{/each}}

<div>
  <center>
    <audio src="" controls id="audioPlayer">
      Sorry, your browser doesn't support html5!
    </audio>
      <ul id="playlist">
        <li class="current-song"><a href="/songs/bleach.mp3">BLEACH</a></li>
        <li><a href="/songs/boogie.mp3">BOOGIE</a></li>
        <li><a href="/songs/sister.mp3">SISTER/NATION</a></li>
    </ul>
 </div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/songs.js"></script>

</body>
</html>