 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="/css/searchPage.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Infusic - Search</title>
</head>

<body>

  <div class="container" style="padding:50px 250px;">
    <h1>Search...</h1>
	<form role="form">
        <div class="form-group">
          <input type="input" class="form-control input-lg searchbar" id="txt-search" placeholder="Search song names, artist, albums">
        </div>
	</form>
	<div id="filter-records"></div>
  </div>

<div id="container">
    <header>
	    <h1>Recently Played</h1>
    </header>
    
    <!-- Each image is 350px by 233px -->
    <div class="photobanner">
    	<img class="first" src="/images/kaytra.jpg" alt="kaytra" />
    	<img src="/images/444.png" alt="444" />
    	<img src="/images/blackPanther.jpg" alt="blackPanther" />
    	<img src="/images/jayZ.jpg" alt="jayZ" />
    	<img src="/images/oxymoron.jpg" alt="oxymoron" />
    	<img src="/images/kehlani.jpg" alt="kehlani" />
    	<img src="/images/YeGrad.jpg" alt="ooz" />
    	<img src="/images/moreLife.jpg" alt="moreLife" />
    	<img src="/images/jayRock.jpg" alt="jayRock" />
    	<img src="/images/flowerBoy.jpeg" alt="flowerBoy" />
    	<img src="/images/syre.jpg" alt="syre" />
    	<img src="/images/rex.png" alt="rex" />
    </div>
</div>

<div id="container">
    <header>
	    <h1>Recommendations</h1>
    </header>
    
    <!-- Each image is 350px by 233px -->
    <div class="photobanner">
    	<img class="first" src="/images/dropoutYe.jpg" alt="dropout" />
    	<img src="/images/kdot.jpg" alt="kdot" />
    	<img src="/images/freud.jpeg" alt="freud" />
    	<img src="/images/acidRap.jpg" alt="acidRap" />
    	<img src="/images/b4rodeo.jpg" alt="b4rodeo" />
    	<img src="/images/kaytra.jpg" alt="kaytra" />
    	<img src="/images/mrRager.jpg" alt="mrRager" />
    	<img src="/images/orange.jpg" alt="orange" />
    	<img src="/images/pinkFloyd.jpeg" alt="pinkFloyd" />
    	<img src="/images/tyler.jpg" alt="tyler" />
    	<img src="/images/ooz.jpg" alt="ooz" />
    	<img src="/images/srem.jpg" alt="srem" />
    	<img src="/images/sremm.jpg" alt="sremm" />
    	<img src="/images/flowerBoy.jpeg" alt="flowerBoy" />
    </div>
</div>

	<div class="navbar">
  	  <a href="/"><i class="fa fa-home"></i></a> 
  	  <a class="active" href="search"><i class="fa fa-search"></i></a>
  	  <a href="partyMode"><i class="fa fa-users"></i></a>
  	  <a href="profile"><i class="fa fa-user"></i></a>
  	</div>

</body>
</html>


<script type="text/javascript">
  $(document).ready(function(){
    var data = [
		{"id":"1","employee_name":"Kid Cudi","employee_salary":"320800","employee_age":"61","profile_image":"/images/mrRager.jpg"},{"id":"2","employee_name":"Kaytranada","employee_salary":"434343","employee_age":"63","profile_image":"/images/freud.jpeg"},{"id":"3","employee_name":"Kanye West","employee_salary":"86000","employee_age":"66","profile_image":"/images/dropoutYe.jpg"},{"id":"4","employee_name":"One Direction","employee_salary":"433060","employee_age":"22","profile_image":"/images/b4rodeo.jpg"},{"id":"5","employee_name":"Tyler the Creator","employee_salary":"162700","employee_age":"33","profile_image":"/images/flowerBoy.jpeg"},{"id":"6","employee_name":"Frank Ocean","employee_salary":"372000","employee_age":"61","profile_image":"/images/orange.jpg"},{"id":"7","employee_name":"Rhianna","employee_salary":"137500","employee_age":"59","profile_image":"/images/srem.jpg"},{"id":"8","employee_name":"Beyonce","employee_salary":"327900","employee_age":"55","profile_image":"/images/acidRap.jpg"},{"id":"9","employee_name":"Mac Miller","employee_salary":"205500","employee_age":"39","profile_image":"/images/sremm.jpg"},{"id":"10","employee_name":"ASAP ROCKY","employee_salary":"103600","employee_age":"23","profile_image":"/images/pinkFloyd.jpeg"}];

$('#txt-search').keyup(function(){
            var searchField = $(this).val();
			if(searchField === '')  {
				$('#filter-records').html('');
				return;
			}
			
            var regex = new RegExp(searchField, "i");
            var output = '<div class="row">';
            var count = 1;
			  $.each(data, function(key, val){
				if ((val.employee_salary.search(regex) != -1) || (val.employee_name.search(regex) != -1)) {
				  output += '<div class="col-md-6 well">';
				  output += '<div class="col-md-3"><img class="img-responsive" src="'+val.profile_image+'" alt="'+ val.employee_name +'" /></div>';
				  output += '<div class="col-md-7">';
				  output += '<h5>' + val.employee_name + '</h5>';
				  output += '<p>' + val.employee_salary + '</p>'
				  output += '</div>';
				  output += '</div>';
				  if(count%2 == 0){
					output += '</div><div class="row">'
				  }
				  count++;
				}
			  });
			  output += '</div>';
			  $('#filter-records').html(output);
        });
  });
</script>