 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=800">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="/css/searchPage.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/nowPlayingBarStyle.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <title>Infusic - Search</title>
</head>

<body>
    <h1 id="demo"></h1>

  <div class="container" style="padding:25px 150px;">
    <center><img src="/icons/search_title.png" id="search_title"></center>
  	<form role="form">
        <div class="form-group">
          <input type="input" class="form-control input-lg searchbar" id="txt-search" placeholder="Search song names, artist, albums">
        </div>
  	</form>
  	<div id="filter-records"></div>
  </div>

<div id="container">
    <header>
	    <img src="/icons/recentlyplayed_title.png" id="recentlyplayed_title">
    </header>
    
    <!-- Each image is 350px by 233px -->
    <div class="photobanner">
    	<img class="first" src="/images/kaytra.jpg" alt="kaytra" />
    	<img src="/images/444.png" alt="444" />
    	<img src="/images/blackPanther.jpg" alt="blackPanther" />
    	<img src="/images/jayZ.jpg" alt="jayZ" />
    	<img src="/images/oxymoron.jpg" alt="oxymoron" />
    	<img src="/images/kehlani.jpg" alt="kehlani" />
    	<img src="/images/YeGrad.jpg" alt="ooz" />
    	<img src="/images/moreLife.jpg" alt="moreLife" />
    	<img src="/images/jayRock.jpg" alt="jayRock" />
    	<img src="/images/flowerBoy.jpeg" alt="flowerBoy" />
    	<img src="/images/syre.jpg" alt="syre" />
    	<img src="/images/rex.png" alt="rex" />
    </div>
</div>

<div id="container">
    <header>
	    <img src="/icons/recommended_title.png" id="recommended_title">
    </header>
    
    <!-- Each image is 350px by 233px -->
    <div class="photobanner">
    	<img class="first" src="/images/dropoutYe.jpg" alt="dropout" />
    	<img src="/images/kdot.jpg" alt="kdot" />
    	<img src="/images/freud.jpeg" alt="freud" />
    	<img src="/images/acidRap.jpg" alt="acidRap" />
    	<img src="/images/b4rodeo.jpg" alt="b4rodeo" />
    	<img src="/images/kaytra.jpg" alt="kaytra" />
    	<img src="/images/mrRager.jpg" alt="mrRager" />
    	<img src="/images/orange.jpg" alt="orange" />
    	<img src="/images/pinkFloyd.jpeg" alt="pinkFloyd" />
    	<img src="/images/tyler.jpg" alt="tyler" />
    	<img src="/images/ooz.jpg" alt="ooz" />
    	<img src="/images/srem.jpg" alt="srem" />
    	<img src="/images/sremm.jpg" alt="sremm" />
    	<img src="/images/flowerBoy.jpeg" alt="flowerBoy" />
    </div>
</div>

	<div class="navbar">
  	  <a href="/index"><i class="fa fa-home"></i></a> 
  	  <a class="active" href="search"><i class="fa fa-search"></i></a>
  	  <a href="partyMode"><i class="fa fa-users"></i></a>
  	  <a href="profile"><i class="fa fa-user"></i></a>
  	</div>

  <!-- NowPlayingBar -->
  <div id="nowPlayingBarContainer">

    <div id="nowPlayingBar">

      <div id="nowPlayingLeft">
        <div class="content">
          <span class="albumLink">
            <img class="albumArtwork" src="http://images.pigeonsandplanes.com/images/c_limit,f_auto,fl_lossy,q_auto,w_1030/xbexk1mqjahpn3hd4ihz/brockhampton-saturation-3">
          </span>

          <div class="trackInfo">
            
            <span class="trackName">
              <span>BLEACH</span>
            </span>

            <span class="artistName">
              <span>Brockhampton</span>
            </span>

          </div>
        </div>
      </div>


      <audio id="myAudio"> 
        <source src="/songs/bleach7.mp3" type="audio/mpeg">
      </audio>

      <div id="nowPlayingCenter">
        <div class="content playerControls">
          <div class="buttons">

            <button onclick="playAudio();moveBar();" class="controlButton play" title="Play button">
              <img src="/icons/play.png">
            </button>

            <button onclick="pauseAudio()" class="controlButton pause" title="Pause button">
              <img src="/icons/pause.png">
            </button>

            <button onclick="goNext()" class="controlButton forward" title="Forward button" alt="Forward Button">
              <img src="/icons/next.png">
            </button>

          </div>

          <div class="playbackBar">
            <span class="progressTime current">0.00</span>
            <div class="progressBar">
                <div class="progressBarBg">
                  <div id="myBar"></div>
                </div>
            </div>
            <span class="progressTime remaining">0.00</span>
          </div> 
        </div>
      </div>

    </div>


  </div>

  <script>
    var playlist = ['/songs/chance1.mp3', '/songs/jayz2.mp3', '/songs/kdot3.mp3', '/songs/panther4.mp3', '/songs/rodeo5.mp3', '/songs/tyler5.mp3', '/songs/ye6.mp3', '/songs/bleach7.mp3'];


    var x = document.getElementById("myAudio");
    var n;
    var i = 0;

    function playAudio() {
      x.play();
      n = 1;
    }
    function pauseAudio() {
      x.pause();
      n = 2;
    }

    function goNext() {
      if(i <= playlist.length){
        x.src = playlist[i];
        x.play();
      }
      else {
        x.src = playlist[0];
        x.play();
      }
    }

    function moveBar(){
      var elem = document.getElementById("myBar");
      var width = 0.01;
      var id = setInterval(frame, 500);
      function frame() {
        if(n==2) {
          clearInterval(id);
        }
        else {
          width++;
          elem.style.width = width + 'px';
        }
      }
    }
  </script>


  <a href="https://icons8.com">Icon pack by Icons8</a>

  <script src="/js/jquery-1.11.0.js"></script>
  <script src="/js/bootstrap.js"></script>

</body>
</html>

<script src="/js/searchBarDB.js"></script>
<script type="text/javascript"> 
  function myFunction() {
    alert("Added to Queue!");
  }
</script>