 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=800">

  <title>Infusic - Search</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="/css/searchPage.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/nowPlayingBarSearch.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <style>
    /*HAMBURGER MENU*/
    .open {
        color: white;
        font-size: 40px;
        float: left;
        padding-left: 1em;
        padding-top: 1em;
        cursor: pointer;
        display: block;
    }
    .open:hover {
        opacity: 0.8;
        color: #181820;
    }

    .nav {
        height: 100vh;
        width: 0;
        position: fixed;
        z-index: 1;
        background: linear-gradient(to right, #31C3DF, #37B081);
        transition: 0.5s;
        display: block;
        overflow-x: hidden;
        margin-top: -20px;
        opacity: 0.93;
        
    }
    .nav a {
        clear: left;
        color: white;
        display: block;
        text-decoration: none;
        font-size: 50px;
        transition: 0.3s;
        padding: 0.5em;
    }

    .nav a:not(:first-child):hover {
        background-color: #1272b7;
    }
    .close {
        float: left;
        font-size: 30px;
        margin: 1em 0 0 1em;
        opacity: 1;
    }
    #searchTab {
      background-color: #4020204a;
    }
  </style>
</head>

<body>

<!--HAMBURGER MENU-->  
 <div class="wrapper">
        <div class="nav" id="nav">
            <a href="javascript:void(0)" class="close" onclick="closeNav()">&times;</a>
            <a href="/index">Home</a>
            <a id="searchTab" href="search" >Search</a>
            <a href="partyMode">Party Mode!</a>
            <a href="profile">Profile</a>
        </div>
        <span onclick="openNav()" class="open" id="open">&#9776</span>

    <h1 id="demo"></h1>

  <div class="container" style="padding:50px 150px;">
    <center><img src="/icons/search_title.png" id="search_title" style=
      "margin-bottom: 20px;"></center>
  	<form role="form">
        <div class="form-group">
          <input type="input" class="form-control input-lg searchbar" id="txt-search" placeholder="Search song names, artist, albums">
        </div>
  	</form>
  	<div id="filter-records"></div>
  </div>

<div id="container">
    <header>
      <center>
	    <img src="/icons/recentlyplayed_title.png" id="recentlyplayed_title">
    </center>
    </header>
    
    <!-- Each image is 350px by 233px -->
    <div class="photobanner">
    	<img class="first" src="/images/kaytra.jpg" alt="kaytra" />
    	<img src="/images/444.png" alt="444" />
    	<img src="/images/blackPanther.jpg" alt="blackPanther" />
    	<img src="/images/jayZ.jpg" alt="jayZ" />
    	<img src="/images/oxymoron.jpg" alt="oxymoron" />
    	<img src="/images/kehlani.jpg" alt="kehlani" />
    	<img src="/images/YeGrad.jpg" alt="ooz" />
    	<img src="/images/moreLife.jpg" alt="moreLife" />
    	<img src="/images/jayRock.jpg" alt="jayRock" />
    	<img src="/images/flowerBoy.jpeg" alt="flowerBoy" />
    	<img src="/images/syre.jpg" alt="syre" />
    	<img src="/images/rex.png" alt="rex" />
    </div>
</div>

<div id="container">
    <header>
      <center>
	    <img src="/icons/recommended_title.png" id="recommended_title">
    </center>
    </header>
    
    <!-- Each image is 350px by 233px -->
    <div class="photobanner">
    	<img class="first" src="/images/dropoutYe.jpg" alt="dropout" />
    	<img src="/images/kdot.jpg" alt="kdot" />
    	<img src="/images/freud.jpeg" alt="freud" />
    	<img src="/images/acidRap.jpg" alt="acidRap" />
    	<img src="/images/b4rodeo.jpg" alt="b4rodeo" />
    	<img src="/images/kaytra.jpg" alt="kaytra" />
    	<img src="/images/mrRager.jpg" alt="mrRager" />
    	<img src="/images/orange.jpg" alt="orange" />
    	<img src="/images/pinkFloyd.jpeg" alt="pinkFloyd" />
    	<img src="/images/tyler.jpg" alt="tyler" />
    	<img src="/images/ooz.jpg" alt="ooz" />
    	<img src="/images/srem.jpg" alt="srem" />
    	<img src="/images/sremm.jpg" alt="sremm" />
    	<img src="/images/flowerBoy.jpeg" alt="flowerBoy" />
    </div>
</div>



  <!-- NowPlayingBar -->
  <div id="nowPlayingBarContainer">

    <div id="nowPlayingBar">

      <div id="nowPlayingLeft">
        <div class="content">
          <span class="albumLink">
            <img id="image" class="albumArtwork" src="/images/acidRap.jpg">
          </span>

          <div class="trackInfo">
            
            <span class="trackName">
              <span><h4 id="songTitle">Cocoa Butter Kisses</h4></span>
            </span>

            <span class="artistName">
              <span><h4 id="artistName">Chance The Rapper</h4></span>
            </span>

          </div>
        </div>
      </div>

      <div id="nowPlayingCenter">
        <div class="content playerControls">
          <div class="buttons">

            <button id="pre" onclick="pre()" class="controlButton play" title="Play button">
              <img src="/icons/previous.png">
            </button>

            <button onclick="playOrPauseSong()" id="play" class="controlButton pause" title="Pause button">
              <img src="/icons/pause.png">
            </button>

            <button onclick="next()" id="next" class="controlButton forward" title="Forward button" alt="Forward Button">
              <img src="/icons/next.png">
            </button>

          </div>

          <div class="playbackBar">
            <span class="progressTime current">0.00</span>
            <div class="progressBar">
                <div id="fill" class="progressBarBg"></div>
            </div>
            <span class="progressTime remaining">4.02</span>
          </div> 
        </div>
      </div>
    </div>
  </div>
 
  <script src="/js/jquery-1.11.0.js"></script>
  <script src="/js/bootstrap.js"></script>

  <script type="text/javascript">
    
        var songs = ['songs/chance1.mp3', '/songs/jayz2.mp3', '/songs/kdot3.mp3', '/songs/panther4.mp3', '/songs/rodeo5.mp3', '/songs/tyler5.mp3', '/songs/ye6.mp3', '/songs/biscuit.mp3'];
        var songNames = ["Cocoa Butter Kisses", "The Story of OJ", "Backseat Freestyle", "Pray For Me", "Drugs you Should Try", "911/Mr. Lonely", "Jesus Walks", "Biscuit Town"];
        var artistNames = ["Chance the Rapper", "Jay Z", "Kendrick Lamar", "Kendrick Lamar", "Travis Scott", "Tyler the Creator", "Kanye West", "King Krule"];
        var poster = ["/images/acidRap.jpg","images/444.png","/images/kdot.jpg", "/images/blackPanther.jpg", "/images/b4rodeo.jpg", "/images/flowerBoy.jpeg", "/images/dropoutYe.jpg", "/images/ooz.jpg"];
        
        var songTitle = document.getElementById("songTitle");
        var artistName = document.getElementById("artistName");
        var albumImage = document.getElementById("image");
        var fillBar = document.getElementById("fill");
        
        var song = new Audio();
        var currentSong = 0;    // it point to the current song
        
        window.onload = playSong;   // it will call the function playSong when window is load
        
        function playSong(){
            
            song.src = songs[currentSong];  //set the source of 0th song 
            
            songTitle.textContent = songNames[currentSong]; // set the title of song
            artistName.textContent = artistNames[currentSong];
            albumImage.src = poster[currentSong];
            song.play();    // play the song
        }
        
        function playOrPauseSong(){
            
            if(song.paused){
                song.play();
                $("#play img").attr("src","/icons/pause.png");
            }
            else{
                song.pause();
                $("#play img").attr("src","/icons/play.png");
            }
        }
        
        song.addEventListener('timeupdate',function(){ 
            
            var position = song.currentTime / song.duration;
            
            fillBar.style.width = position * 100 +'%';
            fillBar.style.color = "blue";
        });
        
    
        function next(){
            
            currentSong++;
            if(currentSong >= songs.length){
                currentSong = 0;
            }
            playSong();
            $("#play img").attr("src","/icons/pause.png");
            $("#image img").attr("src",poster[currentSong]);
            //$("#bg img").attr("src",poster[currentSong]);
        }
    
        function pre(){
            
            currentSong--;
            if(currentSong < 0){
                currentSong = songs.length-1;
            }
            playSong();
            $("#play img").attr("src","/icons/pause.png");
            $("#image img").attr("src",poster[currentSong]);
            //$("#bg img").attr("src",poster[currentSong]);
        }
    
    
    </script>




<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){
    i['GoogleAnalyticsObject']=r;
    i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();
    a=s.createElement(o), m=s.getElementsByTagName(o)[0];
    a.async=1;
    a.src=g;
    m.parentNode.insertBefore(a,m)})
  (window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-115380174-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

  
    <script>
        function openNav() {
            document.getElementById("open").style.display = "none";
            document.getElementById("nav").style.width = "100%";
        }
        function closeNav() {
            
            document.getElementById("nav").style.width = "0";
            document.getElementById("open").style.display = "block";
        }
      </script>

</body>
</html>

<script src="/js/searchBarDB.js"></script>
<script type="text/javascript"> 
  function myFunction() {
    alert("Added to Queue!");
  }
</script>