<!DOCTYPE html>
 <html lang="en">
 <head>
  <title>Infusic - Send Request</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="/css/styling.css" rel="stylesheet">
  <link href="/css/searchPage.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

 </head>

<body>
  <div class="container" style="padding:80% 150px;">
      <h1>Search...</h1>
  	  <form role="form">
          <div class="form-group">
            <input type="input" class="form-control input-lg searchbar" id="txt-search" placeholder="Search song names, artist, albums">
          </div>
	     </form>
	  <div id="filter-records"></div>
  </div>

  <div class="navbar">
    <a href="/"><i class="fa fa-home"></i></a> 
    <a class="active" href="search"><i class="fa fa-search"></i></a>
    <a href="partyMode"><i class="fa fa-users"></i></a>
    <a href="profile"><i class="fa fa-user"></i></a>
  </div>

</body>
</html>

<script src="/js/searchBarDB.js"></script>
<script type="text/javascript"> 

</script>