<!DOCTYPE html>
<html>
<head>
	<title>Infusic</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="../public/css/newStyle.css">
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<div class="wrapper">
		<header>
			<nav>
				<div class="menu-icon">
					<i class="fa fa-bars fa-2x"></i>
				</div>
				<div class="logo">
					Infusic
				</div>
				<div class="menu">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Search</a></li>
						<li><a href="#">Party Mode!</a></li>
						<li><a href="#">Profile</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="content">
			<h1 class="playlists"> Playlists: </h1>
			<p>dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code</p>
			<p>dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code dummy code</p>
		</div>
		<footer>
			Nigger
		</footer>

	</div>


	<script type="text/javascript">

		//Menu toggle-button

		$(document).ready(function() {
			$(".menu-icon").on("click", function() {
				$("nav ul").toggleClass("showing");
			});
		});

		//Scrolling Effct
		$(window).on("scroll", function() {
			if($(window).scrollTop()) {
				$('nav').addClass('black');
			}
			else {
				$('nav').removeClass('black');
			}
		});

		//Hidden mobile navbar when is clicked any li on mobile view
    	$(function () {
	        $(".navbar-collapse ul li a").on("click touch", function () {
	            $(".navbar-toggle").click();

	        });
    	}); 

	</script>

</body>
</html>










