body {
    overflow: scroll;
}

#queue {
    padding-bottom: 3%;
    font-size: 500%;
    font-style: italic;
    font-style: bold;
    color: white;
}

#requestqueue_title  {
    border-radius: 0%;
    width: auto;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

#songbar1, #songbar2, #songbar3, #songbar4,
#songbar5, #songbar6, #songbar7, #songbar7,
#songbar8, #songbar9, #songbar10, #songbar11,
#songbar12, #songbar13, #songbar14, #songbar15,
#songbar16, #songbar17 {
    padding-bottom: 1%;
}

#emptyQueue {
	position: center;
	color: #DCDCDC;
	margin-top: 20%;
}

b, strong {
    font-weight: bold;
    size: 20;
    text-size-adjust: 100px;
    font-size: 30;
    color: springgreen;
}
p {
    margin: 0 0 10px;
    font-size: 30;
    color: springgreen;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: 25;
    line-height: inherit;
    background-color: cornflowerblue;
}

.button {
    display: block;
    float: left;
    width: 250px;
    border-radius: 5%;
    max-width: 20px;
    max-height: 20px;
    background-color: #000000; 
    color: white;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    margin: 32px 16px;
    cursor: pointer;
}


.navbar {
    width: 100%;
    background-color: #000000;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

.navbar a {
    float: left;
    width: 25%;
    text-align: center;
    padding: 8px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    display: block;

}

.navbar a:hover {
    background-color: #f1f1f1;
    color: black;

}

.navbar a.active {
    background-color: #7EBBFB;
    color: white;
}

.fa {
    float: center;
}