.searchbar {
    background-color: #303030;
}

* {margin: 0; padding: 0;}
 
body {
	overflow: scroll;
	padding-bottom: 70px;
	font-size: 20px;
	text-align: center;
	min-width: 720px;
	background-color:  #181820;
	/* background-image: linear-gradient(rgba(29,145,214,0.7),rgba(234,20,254,0.2)), url(../images/colorWave.jpg); */
}
 
#container {
	width: 100%;
	overflow: hidden;
	margin: 30px auto;
}

/*header*/
header {
	width: 800px;
	margin: 40px auto;
}
 
header h1 {
	text-align: left;
	font: 100 60px/1.5 Helvetica, Verdana, sans-serif;
	color: white;
    text-shadow: 8px 8px black;
}
 
header p {
	font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
	text-align: justify;
}

#filters_title  {
	border-radius: 0%;
	width: auto;
	height: auto;
	padding-top: 5%;
}

#playlists_title  {
	border-radius: 0%;
	width: auto;
	height: auto;
	padding-bottom: 5%;
}

#username_title  {
	border-radius: 0%;
	width: auto;
	height: auto;
	padding-top: 1%;
}

#search_title {
	border-radius: 0%;
	width: auto;
	height: auto;
	padding-bottom: 2%;
}

#recommended_title, #recentlyplayed_title {
	border-radius: 0%;
	width: auto;
	height: auto;
}

img {
	width: 233px;
	height: 250px;
	border-radius: 25%;
}
 
/*keyframe animations*/
.first {
	-webkit-animation: bannermove 30s linear infinite;
	-moz-animation: bannermove 30s linear infinite;
	-ms-animation: bannermove 30s linear infinite;
	-o-animation: bannermove 30s linear infinite;
	animation: bannermove 30s linear infinite;
	margin-right: 2vh;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}

.photobanner {
	height: 233px;
	width: 10px;
	margin-bottom: 80px;
	float: right;
}
 
.photobanner img {
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	transition: all 0.8s ease;
	margin-right: 2.3vh;
}
 
.photobanner img:hover {
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-o-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
	cursor: pointer;
 
	-webkit-box-shadow: 3px 3px 6px rgba(0,0,0,1.5);
	-moz-box-shadow: 3px 3px 6px rgba(0,0,0,1.5);
	box-shadow: 3px 3px 6px rgba(0,0,0,1.5);
}

.navbar {
    width: 100%;
    background-color: #303030;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

.navbar a {
    float: left;
    width: 25%;
    text-align: center;
    padding: 8px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    display: block;

}

.navbar a:hover {
    background-color: #f1f1f1;
    color: black;

}

.navbar a.active {
    background-color: #7EBBFB;
    color: white;
}

.fa {
    float: center;
}

