#playlist {
	list-style:none;
	margin-right: 30px;
}

#playlist li a{
	color:black;
	text-decoration: none;
}

#playlist .current-song a {
	color: blue;
}

#pic {
	margin-top: 50px;   
	margin-bottom: 30px;
}

p {
    font-size: 15px;
    position: center;
    margin-top: 50px;
}

p:active {
    background-color: blue;
}


