
body {
    overflow: scroll;
}

.button {
    display: block;
    float: left;
    width: 250px;
    border-radius: 5%;
    max-width: 20px;
    max-height: 20px;
    background-color: #000000; 
    color: white;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    margin: 32px 16px;
    cursor: pointer;
}

#apple {
    margin: -30px 0 20px 0;
    padding: 20px 60px 20px 60px;
    border-radius: 5px;
}
#spotify {
    margin: 20px 0 20px 0;
    padding: 20px 55px 20px 55px;
    border-radius: 5px;
}

#tidal {
    margin: 20px 0 80px 0;
    padding: 20px 65px 20px 65px;
    border-radius: 5px;
}

#spotify:hover,
#apple:hover,
#tidal:hover {
    background-color: #7EBBFB; 
}
#spotifypic2 {
    height:40px;
    width:40px;
    margin-left: -20px;
    margin-top: -15px;
}
#applepic2 {
    height: 30px;
    width: 25px;
    margin-left: -13px;
    margin-top: -10px;
    margin-bottom: 22px;
    margin-right: -15px;
}
#tidalpic2 {
    height: 47px;
    width: 45px;
    margin-bottom: 8px;
    margin-top: -18px;
    margin-left: -17px;
}

.buttonProf {
    display: inline-block;
    width: 250px;
    border-radius: 5%;
    max-width: 20px;
    max-height: 20px;
    background-color: #000000; 
    color: white;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    margin: 32px 16px;
    cursor: pointer;
}

.buttonChild {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 15%;
    bottom: 0;
}

.partyButton {
    display: block;
    width: 50%;
    background-color: #000000; 
    color: white;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 4vw;
    margin: 32px 16px;
    cursor: pointer;
}

.facebook {
    width: 200% !important;
    height: 200% !important;
}

.logoutButton {
    display: block;
    width: 20%;
    height: 50;
    border-radius: 5%;
    background-color: #000000; 
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 3vw;
    margin: 32px 16px;
    cursor: pointer;
    justify-content: center;
}

.partyButton:hover {
    background-color: #4CAF50;
    color: white;
}

h1.playHead {
    margin-top: 17px;
    padding-left:0px;
    padding-bottom: 31px;
    text-align: left;
    color: powderblue;
}


.album {
    display: block;
    float: left;
    padding-right:70px;
}


#spotifypic {
    height:40px;
    width:40px;
    margin-left: -20px;
    margin-top: -20px;
}

#applepic {
    height:30px;
    width:24px;
    margin-left: -12px;
    margin-top: -22px;
}


#tidalpic {
    height: 48px;
    width: 50px;
    margin-left: -25px;
    margin-top: -20px;
}

#title {
    font-size: 18px;
    margin-top: 5px;
}

#artist {
    margin-top:-8px;
}



.navbar {
    width: 100%;
    background-color: #000000;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

.navbar a {
    float: left;
    width: 25%;
    text-align: center;
    padding: 8px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    display: block;

}

.navbar a:hover {
    background-color: #f1f1f1;
    color: black;

}

.navbar a.active {
    background-color: #7EBBFB;
    color: white;
}

.fa {
    float: center;
}


.fakeimg {
    background-color: white;
    width: 100%;
    padding: 20px;
}

.fakeProf {
    border-radius: 50%;
    zoom: 100%;
}

#whitespace {
    padding:1%;
}